.landing-content{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: calc(100vh - 5.5rem) ;
    width: 100%;
    text-align: center;
    background-size: cover;
    background-position: center;
    background-color: black;
    background-blend-mode: overlay; 
}
 .landing-section{
    width: 65.875rem;
    height: 36.464rem;
    border: 0.125rem solid #1e1e1e;
    border-radius: 1.5rem;
    align-content: center;
    background: radial-gradient(circle,transparent 20%,#0a0a0a 90%),radial-gradient(#1e1e1e 12% 13% ,transparent 14%);
    background-size:100% 100%,14px 14px;
}

.tag_container{
    width: 11.5rem;
    height: 2.06rem;
    background-color: #1e1e1e;
    color: white;
    border: 0.063rem solid white;
    border-radius: 2.25rem;
    margin: 0 auto;
    text-align: center;
}

.tag_container p{
    margin: 0 ;
    padding: 0.313rem;
}

.landing-h2{
    width: 48.75rem;
    margin: 0 auto;
    color: #a6a6a6;
    font-size: 1.5rem;
}
.landing-h2 span{
    color: white;
}
.landing-h1{
    font-weight: 700;
    font-size: 4rem;
    letter-spacing: 0.25rem;
}

.landing-button{
    width: 11.125rem;
    height: 3rem;
    border-radius: 2.25rem;
    padding: 18px, 40px, 18px, 40px;
    border: 1px solid white;
    background-color: transparent;
    font-size: 1rem;
    font-weight: 500;
}
.landing-button-container{
    display: flex;
    justify-content: center;
    margin-top: 1rem;
    gap: 1rem;
}

#first-button{
    color: black;
    background-color: white;
}
#second-button{
    color: white;
    background-color: transparent;
}



