@keyframes span-animation {
  0% {
    background-size: 0% 100%; /* El gradiente no cubre nada al inicio */
  }
  100% {
    background-size: 100% 100%; /* El gradiente cubre todo al final */
  }
}
.landing-span-animation {
  animation: span-animation 2s ease forwards;
  border-radius: 0.25rem;
  padding: 0.1875rem;
  background: linear-gradient(90deg, #6568e9 0%, #9c5cef 100%);
  background-size: 0% 100%; /* Comienza sin color (0% de ancho) */
  background-position: 0% 0%;
  background-repeat: no-repeat; /* Evita que el fondo se repita */
}
